html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}

#container {
  height: 100%;

  > div {
    height: 100%;
  }
}

main {
  height: 100%;

  &.columns {
    margin: 0;
    padding-top: 35px;
  }
}