@import '../../node_modules/bulma/bulma';

@import './layout';
@import './header';
@import './file_list';
@import './pagination';
@import './footer';

.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  width: 200px;
  margin: 0 auto;
}