@import '../../node_modules/bulma/bulma';

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}

#container {
  height: 100%;

  > div {
    height: 100%;
  }
}

.nav {
  min-height: inherit;
  position: fixed;
  width: 100%;
}

nav {
  &.nav {
    -webkit-app-region: drag;

    button {
      -webkit-app-region: no-drag;
    }
  }
}

footer {
  padding-left: 9px;

  &.nav {
    bottom: 0;
    text-align: left;
  }

  &.columns.is-gapless {
    > .column {
      padding: 5px;
    }
  }

  .control {
    width: calc(100% - 10px);
  }
}

main {
  height: 100%;
  padding-top: 35px;

  &.columns.is-gapless {
    margin: 0 15px;
  }
}

.material-icons {
  &.small-icon {
    font-size: 14px;
    margin-top: -1px;
    vertical-align: -20%;
  }
}

.file-list-box {
  position: relative;
}

.file-list {
  margin-bottom: 0;

  tbody:first-child {
    height: 100%;
    margin-bottom: 1.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  th {
    font-size: 12px;
  }

  td {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.reactable-pagination {
  position: absolute;
  left: 30%;
  bottom: 30px;

  td {
    text-align: center;
  }

  .reactable-previous-page,
  .reactable-next-page,
  .reactable-page-button {
    font-size: 0.875rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    justify-content: center;
    text-align: center;
    border: 1px solid $pagination-border;
    min-width: 2.5em;

    &:hover {
      border-color: $pagination-hover-border;
      color: $pagination-hover;
    }

    &:focus {
      border-color: $pagination-focus-border;
    }

    &:active {
      box-shadow: $pagination-shadow-inset;
    }

    &[disabled],
    &.is-disabled {
      background: $pagination-disabled-background;
      color: $pagination-disabled;
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .reactable-page-button,
  .reactable-next-page {
    &:not(:first-child) {
      margin-left: 0.375rem;
    }
  }

  .reactable-previous-page,
  .reactable-next-page {
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

  .reactable-current-page {
    background-color: $pagination-current-background;
    border-color: $pagination-current-border;
    color: $pagination-current;
  }
}